[submodule "lib/RGBLed"]
	path = lib/RGBLed
	url = https://github.com/wilmouths/RGBLed.git
[submodule "lib/mpu6050"]
	path = lib/mpu6050
	url = https://github.com/ElectronicCats/mpu6050.git
[submodule "lib/QuickPID"]
	path = lib/QuickPID
	url = https://github.com/Dlloydev/QuickPID.git
